.section {
  width: min(90rem, 100%);

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 9.375rem;
  padding-left: 2rem;
  padding-right: 2rem;

  @include media('>=large') {
    padding: 0;
  }
}
