.section {
  width: min(90rem, 100%);

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 10rem;
  padding-left: 2rem;
  padding-right: 2rem;

  &__img {
    &--devices {
      width: min(100%, 50.75rem);
      height: auto;

      margin-top: 4rem;
    }
  }

  &__button-wrapper {
    display: grid;
    gap: 1.5rem;

    margin-top: 2.875rem;
  }

  &--image {
    margin-top: 11.625rem;
  }

  &--grid-cards {
    gap: 5.625rem;

    margin-top: 8.125rem;
  }

  &--partners {
    margin-top: 8.1875rem;
  }

  &--buttons {
    margin-bottom: 10.625rem;
  }

  @include media('>=medium') {
    &__button-wrapper {
      display: flex;
      gap: 1rem;

      margin-top: 3rem;
    }

    &--image {
      margin-top: 9.375rem;
    }

    &--grid-cards {
      gap: 4.5rem;

      margin-top: 10.0625rem;
    }

    &--partners {
      margin-top: 10rem;
    }

    &--buttons {
      margin-bottom: 9.375rem;
    }
  }

  @include media('>=large') {
    margin-top: 9.625rem;
    padding: 0;

    &__img--devices {
      margin-top: 6.875rem;
    }
  }
}
