.button {
  padding-top: 0.8125rem;
  padding-bottom: 0.8125rem;

  width: min(100vw - 4rem, 19.4375rem);
  height: 3.5rem;
  border-radius: 3.5rem;

  display: grid;
  place-items: center;

  border-bottom: 0.1875rem solid;

  transition: 200ms ease;
  transition-property: border-bottom-width, transform;

  &:active {
    border-bottom-width: 0;
    transform: translateY(0.125rem);
  }

  &--ios {
    box-shadow: 0 1.25rem 1.875rem -1.125rem $color-cyan-lighter;

    background-color: $color-ios-button-regular;
    border-bottom-color: $color-ios-button-regular-shadow;

    &:hover {
      background-color: $color-ios-button-hover;
      border-bottom-color: $color-ios-button-hover-shadow;
    }
  }

  &--mac {
    box-shadow: 0 1.25rem 1.875rem -1.125rem $color-grayish-blue;

    background-color: $color-mac-button-regular;
    border-bottom-color: $color-mac-button-regular-shadow;

    &:hover {
      background-color: $color-mac-button-hover;
      border-bottom-color: $color-mac-button-hover-shadow;
    }
  }

  @include media('>=medium') {
    width: 14.1875rem;
  }
}
