.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    width: 3.125rem;
    height: 2.5rem;
  }

  &__img {
    width: min-content;
  }

  &__heading {
    margin-top: 2.5rem;
  }

  &__paragraph {
    margin-top: 1.125rem;
  }

  @include media('>=medium') {
    max-width: 21.875rem;

    &__paragraph {
      margin-top: 1rem;
    }
  }
}
