.illustration-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 4.0625rem;

  &__img {
    width: min(100%, 33.25rem);
    height: auto;
  }

  &__body {
    margin-top: 3.5rem;

    display: grid;
    gap: 4rem;
  }

  &__paragraph {
    margin-top: 0.625rem;
  }

  @include media('>=medium') {
    margin-top: 5rem;

    flex-direction: row;
    gap: 4.875rem;

    width: 100%;

    &__img {
      width: min(47rem, 52.22vw);

      transform: translateX(-4.255%);
    }

    &__body {
      margin-top: 4.1875rem;
      padding-bottom: 6.125rem;

      max-width: 21.875rem;

      gap: 3.5rem;
    }

    &__paragraph {
      margin-top: 0.5rem;
    }
  }
}
