.partners {
  width: 8.6875rem;
  height: 27.4375rem;

  display: flex;
  flex-flow: row wrap;

  justify-content: space-between;
  align-items: center;

  column-gap: 1rem;

  &__logo {
    width: 100%;
    height: auto;
  }

  @include media('>small', '<medium') {
    width: min(39rem, 75%);
    height: auto;

    row-gap: 2rem;

    &__logo {
      width: min-content;

      flex: 1;
    }
  }

  @include media('>=medium') {
    width: min(69.375rem, 100%);
    height: auto;

    &__logo {
      width: min-content;
    }
  }
}
