$font-bai-jamjuree: 'Bai Jamjuree', sans-serif;
$font-sans-serif: $font-bai-jamjuree;

$color-strong-cyan: hsl(171, 66%, 44%);
$color-strong-cyan-darker: #1b8676;
$color-light-blue: hsl(233, 100%, 69%);
$color-light-blue-darker: #4553b7;
$color-dark-grayish-blue: hsl(210, 10%, 33%);
$color-grayish-blue: hsl(201, 11%, 66%);
$color-white: hsl(0, 0%, 100%);
