h1,
h2,
h3 {
  color: $color-dark-grayish-blue;
}

p {
  color: $color-grayish-blue;
}

a[role='button'] {
  color: $color-white;
}

footer a {
  color: $color-dark-grayish-blue;

  @extend %transition;

  &:hover {
    color: $color-cyan-dark;
  }
}

footer {
  background-color: $color-almost-white;
}

footer path {
  fill: $color-dark-grayish-blue;

  @extend %transition;
}

footer a:hover path {
  fill: $color-cyan-dark;
}
